/Debug/Snapshot
/Debug/CarEyePlayerDemo.pdb
/Debug/CarEyePlayerDemo.exe
/Debug/libCarEyePlayer.exp
/Debug/libCarEyePlayer.ilk
/Debug/libCarEyePlayer.lib
/Debug/libCarEyePlayer.pdb
/Debug/testplayer.pdb
/CarEyePlayerDemo/obj/Debug
/ffmpeg
/ffspliter
/pthreads
/soundtouch
/src
/testplayer
/dx9sdk
/fanplayer
/.vs/libCarEyePlayer/DesignTimeBuild
/.vs
